### Specific to building Armbian ###
/.vagrant/
/.vagrant/machines/default/virtualbox/
ubuntu-*-cloudimg-console.log

### to ignore changes in a working copy
.ignore_changes

### compile configurations added by users
/config-*.conf
### but not default (supplied) files
!/config-docker.conf
!/config-vagrant.conf

### output directories
/.tmp/
/output/
/cache/
/*userpatches*/
/userpatches
/config/templates/.vagrant/machines

### General annoyances ###
.DS_Store
